* {
    box-sizing: border-box;
}

body {
    color: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0;
	text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background: #494d5F;
    flex-direction: column;
}

.statusCardWrapper{
    display: flex;
	justify-content: center;
	align-items: stretch;
}


.statusCard {
	margin: 1rem;
	background: #fff;
	padding: 2rem;
	border-radius: 2rem;
    box-shadow: 3px 3px #333, 0 0 .6rem #474646, 0 0 .6rem #474646;
    width: 50%;
}

h1{
    font-size: 3rem;
}

h1:not(.statusCard h1){
    color: #FFF;
    font-size: 4rem;
    text-shadow: 3px 3px #333, 0 0 .6rem #474646, 0 0 .6rem #474646;
}

h2{
    font-size: 3rem;
}

#Status {
	font-size: 2rem;
}

@media screen and (max-width: 900px) {
    .statusCardWrapper-home {
        display: block;
    }

    .statusCard{
        margin: 1rem auto;
        width: calc(100% - 2rem); 
    }
}